body {
  background-color: #1a1a1a;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
 
  font-family: Arial, sans-serif;
  color: white;
}
  .flex-container{
    margin-top: 20px;
    width: 70%;
    margin-left: 14%;
    display: flex;
    flex-wrap: wrap;
   text-align:  center;
   justify-content: center;
  }

  #searchInput {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
    background-color: #554f4f;
    margin-bottom: 20px;
    width: 300px;
    transition: background-color 0.3s;
  }
  
  #searchInput:hover,
  #searchInput:focus {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .header {
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(148, 145, 145, 0.693); 
    padding: 20px; 
  }
  i{
    font-size: 1.3rem;
    margin-right: 5px; 
    margin-top: 2px;
  }

  h1 {
    margin-top: 20px;
    font-size: 24px;
    color: #dfe840;
    text-shadow: 2px 2px 4px rgba(98, 98, 98, 0.5);
   
    
  }
  
  

  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(241, 235, 235, 0.622);
    overflow: hidden;
    width: 190px;
    margin: 20px;
    height: 430px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  }
  .card-content {
    
    padding: 16px;
  }
  
  .card:hover {
    transform: scale(1.05);
    background-color: #f5f5f5; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  
  .card:hover .title {
    color: #ff5733; 
  }
  
  .card:hover .release,
  .card:hover .credits {
    color: #555; 
  }
  

  .card img {
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }

  .card-content {
    padding: 16px;
  }

  .title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 8px;
    
        color: white; 
      
  }

  .release {
    color: #555;
    margin-bottom: 8px;
  }

  .credits {
    font-style: italic;
    color: #888;
  }

  .favorites-btn {
    margin-left: auto;
    padding: 10px;
    font-size: 16px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #dfe840; 
    color: rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 0 2px 8px #f2ff03; 
    border-bottom: 2px solid rgb(0, 0, 0);
    transition: background-color 0.3s;
  }

  .add-to-favorites-btn {
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 14px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-to-favorites-btn:hover {
    background-color: #0056b3; 
  }
  
 